#sign-up-button {
  font-family: 'Inter', sans-serif;
	font-size: 20px;
	background: #78ad8d;
	color: white;
	position: absolute;
	top: 600px;
	left: 12.5%;
	width: 25%;
	text-align: center;

  border: #78ad8d solid 10px;
  border-radius: 100px;
}